body {
    font-family: Arial, sans-serif;
    background-color: #002b36;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95vw;
    height: 95vh;
    background-color: #4ec4f7;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
    padding:5px;
    box-sizing: border-box;
    border-radius: 0;
    border: 2px solid white;
    margin-top: 5px;
}

.button-group button,
.button-panel button,
button {
    margin: 10px;
    padding: 0;
    border: none;
    display: inline;
    border-radius: 5px;
    background-color: #fff;
    color: #002b36;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 16px;
    width: 120px;
    height: 40px;
    text-shadow: 1px 1px #000;
}

.button-group button:hover,
.button-panel button:hover,
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.button-group button:active,
.button-panel button:active,
button:active {
background-color: #111;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
transform: translateY(1px);
}

.slider-container {
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
margin-bottom: 10px;
}

.slider-container label {
font-size: 18px;
margin-right: 10px;
}

.slider-container input {
width: 70%;
}